table {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5px;
}

.wrapper {
    margin: auto;
    max-width: 75rem;
}

@media screen and (min-width: 640px){
    .flex-container {
        display: flex;
    }    
}

main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
     /* border: 1px solid #000000; 
    color: black; */
}

main {
    text-align: center;
     /* background: #000000;  */
}

.header {
     /* background: #03a9f4;  */
}

.hero {
    text-align: center;
     /* background: #d22b1f;  */
}

.content {
    flex: 1;
     /* background: #129a22;  */
}

.sidebar {
    flex: 0 1 300px;
    /* border: 1px solid #000000; 
    background: #673ab7; */
}

.footer {
    /* border: 1px solid #000000; 
    background: #616161; */
}

#menu{
    text-align: center;   
   }

img{
    max-width: 100%; 
    display: block; 
    height: auto;
    margin: auto;
}

